<header class="page-head">
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar novi-background rd-navbar-center">
            <div class="rd-navbar-inner">
                <!-- Navbar Panel -->
                <div class="rd-navbar-panel">
                    <!-- Navbar Brand -->
                    <div class="rd-navbar-brand"><a href="/index.html"><img src="/assets/images/SPU-site-logo.png" alt="Silicon Pulse University" width="191" height="80"></a></div>
                    <!-- Navbar Toggle -->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                </div>

                <!-- Navbar Menu -->
                <div class="rd-navbar-menu-wrap">
                    <div class="rd-navbar-nav-wrap">
                        <ul class="rd-navbar-nav">
                            <li><a href="/index.html">Home</a></li>
                            <li class="rd-navbar--has-dropdown"><a href="/about/index.html">About</a>
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="/about/our-mission.html">Our Mission</a></li>
                                    <li><a href="/about/history.html">History</a></li>
                                </ul>
                            </li>
                            <li class="rd-navbar--has-dropdown"><a href="/programs/index.html">Programs</a>
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="/programs/cp-school/index.html">CP School</a></li>
                                    <li><a href="/programs/cci-school/index.html">CCI School</a></li>
                                    <li><a href="/programs/sms-school/index.html">SMS School</a></li>
                                </ul>
                            </li>
                            <li class="rd-navbar--has-dropdown"><a href="/case-study/index.html">Case Study</a>
                                <ul class="rd-navbar-dropdown">
                                    <li><a href="/case-study/overview.html">Overview</a></li>
                                    <li><a href="/case-study/solutions.html">Solutions</a></li>
                                    <li><a href="/case-study/results.html">Results</a></li>
                                </ul>
                            </li>
                            <li><a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
